# Performance measured in Ada boost classifier.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('Dataset.csv')

In [4]:
data.head()

         Date   Open   High    Low  Close  Adj Close     Volume
0  28-06-2010  3.800  6.084  3.508  3.840      3.840  246560000
1  05-07-2010  4.000  4.000  2.996  3.480      3.480  127753000
2  12-07-2010  3.590  4.300  3.380  4.128      4.128   77194500
3  19-07-2010  4.274  4.450  3.900  4.258      4.258   35878500
4  26-07-2010  4.300  4.300  3.910  3.988      3.988   15260000

In [5]:
df = data.dropna()

In [6]:
df.shape

(608, 7)

In [7]:
df['Open'].unique()

array([   3.8     ,    4.      ,    3.59    ,    4.274   ,    4.3     ,
          4.1     ,    3.98    ,    3.69    ,    3.818   ,    3.94    ,
          4.122   ,    4.178   ,    4.134   ,    4.08    ,    4.086   ,
          4.088   ,    4.104   ,    4.188   ,    4.388   ,    4.9     ,
          6.044   ,    6.314   ,    7.082   ,    6.27    ,    6.328   ,
          5.604   ,    5.368   ,    5.634   ,    5.096   ,    4.706   ,
          4.81    ,    4.652   ,    4.728   ,    4.576   ,    4.748   ,
          4.986   ,    4.764   ,    4.61    ,    4.54    ,    5.366   ,
          5.294   ,    5.026   ,    5.34    ,    5.52    ,    5.4     ,
          5.598   ,    5.524   ,    5.938   ,    6.02    ,    5.614   ,
          5.258   ,    5.546   ,    5.804   ,    5.68    ,    5.468   ,
          5.802   ,    5.734   ,    4.62    ,    5.324   ,    4.622   ,
          4.844   ,    4.5     ,    4.99    ,    5.304   ,    5.462   ,
          5.572   ,    5.574   ,    5.9     ,    6.6     ,    6.488   ,
          6.4     ,    6.706   ,    6.088   ,    5.618   ,    5.532   ,
          5.788   ,    5.362   ,    5.898   ,    6.22    ,    6.31    ,
          6.974   ,    6.682   ,    6.87    ,    6.938   ,    7.052   ,
          7.118   ,    7.466   ,    6.82    ,    6.572   ,    6.654   ,
          6.392   ,    6.384   ,    5.516   ,    6.002   ,    5.606   ,
          6.062   ,    5.988   ,    6.788   ,    6.188   ,    6.864   ,
          6.21    ,    5.902   ,    5.51    ,    6.03    ,    5.914   ,
          5.704   ,    5.84    ,    6.47    ,    5.772   ,    5.54    ,
          5.96    ,    6.058   ,    6.414   ,    6.42    ,    6.778   ,
          6.886   ,    6.754   ,    6.728   ,    6.96    ,    6.616   ,
          6.912   ,    7.372   ,    7.68    ,    7.596   ,    7.472   ,
          7.23    ,    6.954   ,    7.774   ,    7.06    ,    7.42    ,
          8.472   ,    8.394   ,    8.7     ,    9.72    ,   10.352   ,
         11.278   ,   16.198   ,   18.224001,   20.309999,   19.524   ,
         19.785999,   20.719999,   19.299999,   21.872   ,   24.274   ,
         26.606001,   23.978001,   25.864   ,   28.002001,   29.886   ,
         28.686001,   33.029999,   34.68    ,   32.624001,   33.599998,
         36.896   ,   37.799999,   36.492001,   35.      ,   36.655998,
         34.035999,   33.      ,   28.200001,   27.054001,   24.9     ,
         25.27    ,   27.4     ,   29.695999,   28.969999,   30.224001,
         30.      ,   29.156   ,   34.248001,   35.032001,   36.577999,
         37.868   ,   41.048   ,   41.751999,   47.452   ,   48.540001,
         46.990002,   45.950001,   43.299999,   41.161999,   41.52    ,
         39.416   ,   40.      ,   41.896   ,   36.773998,   38.144001,
         41.703999,   41.466   ,   41.59    ,   41.352001,   45.902   ,
         47.91    ,   45.5     ,   43.998001,   43.450001,   44.849998,
         46.875999,   51.096001,   52.650002,   51.638   ,   55.099998,
         55.523998,   54.874001,   51.      ,   48.799999,   51.826   ,
         47.714001,   45.344002,   46.849998,   48.599998,   47.821999,
         51.498001,   49.040001,   48.231998,   44.307999,   41.858002,
         44.      ,   45.380001,   42.91    ,   40.610001,   38.773998,
         40.366001,   40.793999,   43.076   ,   41.139999,   43.132   ,
         40.540001,   38.877998,   38.400002,   39.700001,   37.169998,
         39.599998,   42.088001,   41.355999,   44.512001,   45.636002,
         47.257999,   49.400002,   49.535999,   50.282001,   50.169998,
         49.939999,   52.43    ,   52.389999,   55.776001,   52.450001,
         55.      ,   52.486   ,   53.257999,   47.630001,   51.112   ,
         40.557999,   49.124001,   49.009998,   50.220001,   52.796001,
         51.470001,   49.768002,   44.598   ,   45.299999,   42.276001,
         41.784   ,   46.598   ,   41.217999,   43.470001,   46.358002,
         45.540001,   43.501999,   46.338001,   46.298   ,   46.144001,
         42.801998,   41.742001,   40.012001,   37.751999,   31.42    ,
         31.74    ,   34.023998,   38.48    ,   39.535999,   42.529999,
         47.068001,   46.321999,   49.824001,   50.200001,   50.445999,
         50.602001,   48.299999,   43.144001,   41.630001,   43.973999,
         44.608002,   43.599998,   43.900002,   38.172001,   41.945999,
         43.992001,   43.928001,   44.453999,   47.099998,   45.599998,
         45.203999,   44.834   ,   44.029999,   39.804001,   39.      ,
         41.400002,   41.299999,   42.459999,   40.27    ,   39.41    ,
         40.200001,   40.498001,   38.717999,   37.599998,   37.007999,
         39.096001,   36.501999,   38.560001,   42.976002,   42.972   ,
         45.793999,   47.34    ,   49.169998,   50.506001,   54.147999,
         55.09    ,   49.633999,   49.582001,   48.964001,   52.119999,
         57.380001,   61.830002,   60.540001,   61.844002,   62.976002,
         62.18    ,   63.675999,   62.560001,   65.199997,   67.699997,
         71.598   ,   75.      ,   77.337997,   74.047997,   62.580002,
         65.108002,   66.047997,   67.099998,   71.470001,   72.926003,
         69.164001,   69.456001,   70.760002,   70.269997,   76.050003,
         70.629997,   68.503998,   69.93    ,   70.751999,   69.975998,
         63.835999,   61.400002,   60.026001,   62.757999,   62.650002,
         61.299999,   62.925999,   68.980003,   64.765999,   62.400002,
         63.200001,   67.508003,   69.879997,   67.970001,   67.594002,
         63.226002,   66.893997,   70.699997,   66.477997,   65.722   ,
         63.299999,   61.467999,   51.251999,   60.074001,   59.799999,
         58.257999,   58.722   ,   59.5     ,   60.664001,   56.265999,
         55.702   ,   58.868   ,   64.501999,   71.080002,   66.024002,
         72.014   ,   62.397999,   62.341999,   60.368   ,   59.18    ,
         69.092003,   72.225998,   58.34    ,   63.599998,   59.388   ,
         54.652   ,   58.007999,   59.695999,   61.153999,   52.903999,
         51.812   ,   52.136002,   67.494003,   68.099998,   69.674004,
         71.267998,   65.      ,   72.      ,   72.400002,   62.700001,
         67.557999,   64.344002,   68.475998,   60.964001,   58.582001,
         62.596001,   62.32    ,   61.312   ,   59.582001,   59.624001,
         56.703999,   55.200001,   51.942001,   56.523998,   55.537998,
         53.726002,   53.799999,   47.172001,   50.004002,   46.402   ,
         40.560001,   38.240002,   37.102001,   42.049999,   43.096001,
         44.647999,   46.042   ,   46.248001,   49.599998,   51.75    ,
         45.417999,   45.919998,   44.841999,   42.720001,   44.816002,
         46.      ,   49.200001,   48.      ,   45.959999,   49.580002,
         51.666   ,   65.508003,   62.959999,   68.790001,   70.584   ,
         68.863998,   65.879997,   67.318001,   72.510002,   82.356003,
         85.758003,   88.094002,   98.699997,  106.050003,  108.398003,
        134.738007,  160.      ,  168.320007,  167.800003,  142.251999,
        121.078003,   93.900002,   86.720001,  102.052002,  102.239998,
        118.031998,  146.539993,  147.522003,  140.199997,  158.102005,
        165.556   ,  166.899994,  171.600006,  183.800003,  183.557999,
        199.990005,  193.802002,  255.337997,  331.799988,  303.802002,
        287.      ,  289.839996,  289.600006,  335.399994,  425.256012,
        444.609985,  356.      ,  380.950012,  453.130005,  424.619995,
        423.350006,  442.      ,  446.23999 ,  411.630005,  394.      ,
        439.5     ,  408.929993,  503.5     ,  602.210022,  604.919983,
        619.      ,  666.23999 ,  674.51001 ,  719.460022,  849.400024,
        837.799988,  855.      ,  814.289978,  869.669983,  818.      ,
        762.640015,  690.109985,  600.549988,  694.090027,  684.590027,
        615.640015,  707.710022,  685.700012,  719.599976,  741.      ,
        703.799988,  664.900024,  575.549988,  581.599976,  627.799988,
        591.830017,  612.22998 ,  624.47998 ,  671.640015,  681.710022,
        662.200012,  629.890015,  650.969971,  700.      ,  710.169983,
        705.070007,  685.440002,  714.719971,  740.      ,  740.210022,
        734.559998,  773.119995,  796.5     ,  787.650024,  851.789978,
        950.530029, 1145.      , 1149.790039, 1017.630005, 1162.329956,
       1100.98999 , 1001.51001 , 1001.090027,  910.700012, 1073.670044,
       1147.75    , 1000.      , 1026.609985,  904.76001 ,  872.710022,
        923.789978,  861.570007])

In [8]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [9]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
603    False
604    False
605    False
606    False
607    False
Length: 608, dtype: bool

In [10]:


# Delete the Columns.
del df['Date']
del df['Adj Close']

In [11]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [12]:
df.describe()

              Open         High          Low        Close        Volume
count   608.000000   608.000000   608.000000   608.000000  6.080000e+02
mean    131.854122   140.089835   124.765849   132.822142  1.510910e+08
std     241.085132   256.121627   227.391014   242.137560  1.210761e+08
min       3.590000     3.918000     2.996000     3.480000  6.473000e+06
25%      19.031000    20.275500    17.390000    19.518000  6.656125e+07
50%      46.310000    48.312000    44.451000    46.396999  1.322868e+08
75%      67.497503    70.415001    64.464002    67.118000  1.992209e+08
max    1162.329956  1243.489990  1118.660034  1222.089966  1.066860e+09

In [13]:
X = df.drop(labels='Close', axis=1)
#Response variable
y = df.loc[:,'Close']

In [14]:
#We'll use a test size of 30%. We also stratify the split on the response variable, which is very important to do because there are so few fraudulent transactions.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Implementing Adaboost regressor

In [15]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, explained_variance_score, r2_score, mean_squared_error
from sklearn.metrics import median_absolute_error

Training

In [16]:
SVR= AdaBoostRegressor()

SVR.fit(X_train,y_train)

predictD = SVR.predict(X_test)

Finding the mean absolute error

In [17]:
MAE= (mean_absolute_error(y_test,predictD))
print("MEAN_ABSOLUTE_ERROR:", MAE)
print("")

MEAN_ABSOLUTE_ERROR: 19.571654473816686

Finding the mean absolute percentage error

In [18]:
MAPE =(mean_absolute_percentage_error(y_test, predictD))
print("MEAN_ABSOLUTE_PERCENTAGE_ERROR:", MAPE)
print("")

MEAN_ABSOLUTE_PERCENTAGE_ERROR: 1.6679277734615692

Finding the Accuracy

In [19]:
EVS = (explained_variance_score(y_test, predictD)*100)
print("ACCURACY RESULT OF ADABOOST REGRESSOR IS :", EVS)
print("")

ACCURACY RESULT OF ADABOOST REGRESSOR IS : 99.074087755899

Finding the Mean squared error

In [20]:
MSE = (mean_squared_error(y_test, predictD))
print("MEAN_SQUARED_ERROR:", MSE)
print("")

MEAN_SQUARED_ERROR: 611.394078453317

Finding the Median absolute error

In [21]:
MEDIAN_S_E = (median_absolute_error(y_test, predictD))
print("MEDIAN_ABSOLUTE_ERROR:", MEDIAN_S_E)
print("")

MEDIAN_ABSOLUTE_ERROR: 19.171999375000006

Finding the R2 score

In [22]:
R2 = (r2_score(y_test, predictD)*100)
print("The Accuracy of adaboost regressor:", R2)
print("")

The Accuracy of adaboost regressor: 99.06166312809103

In [23]:
import joblib
joblib.dump(SVR, 'svr.pkl')

['svr.pkl']