# Performance measured by Ridge Regressor.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('Dataset.csv')

In [4]:
data.head()

         Date   Open   High    Low  Close  Adj Close     Volume
0  28-06-2010  3.800  6.084  3.508  3.840      3.840  246560000
1  05-07-2010  4.000  4.000  2.996  3.480      3.480  127753000
2  12-07-2010  3.590  4.300  3.380  4.128      4.128   77194500
3  19-07-2010  4.274  4.450  3.900  4.258      4.258   35878500
4  26-07-2010  4.300  4.300  3.910  3.988      3.988   15260000

In [5]:
data.drop_duplicates()

,Date,Open,High,Low,Close,Adj Close,Volume
0,28-06-2010,3.800000,6.084000,3.508000,3.840000,3.840000,246560000
1,05-07-2010,4.000000,4.000000,2.996000,3.480000,3.480000,127753000
2,12-07-2010,3.590000,4.300000,3.380000,4.128000,4.128000,77194500
3,19-07-2010,4.274000,4.450000,3.900000,4.258000,4.258000,35878500
4,26-07-2010,4.300000,4.300000,3.910000,3.988000,3.988000,15260000
...,...,...,...,...,...,...,...
603,17-01-2022,1026.609985,1070.790039,940.500000,943.900024,943.900024,105363500
604,24-01-2022,904.760010,987.690002,792.010010,846.349976,846.349976,208309200
605,31-01-2022,872.710022,943.700012,862.049988,923.320007,923.320007,132213500
606,07-02-2022,923.789978,947.770020,850.700012,860.000000,860.000000,103196000
607,14-02-2022,861.570007,898.880005,853.150024,875.760010,875.760010,22585500

In [6]:
df = data.dropna()

In [7]:
df.head()

         Date   Open   High    Low  Close  Adj Close     Volume
0  28-06-2010  3.800  6.084  3.508  3.840      3.840  246560000
1  05-07-2010  4.000  4.000  2.996  3.480      3.480  127753000
2  12-07-2010  3.590  4.300  3.380  4.128      4.128   77194500
3  19-07-2010  4.274  4.450  3.900  4.258      4.258   35878500
4  26-07-2010  4.300  4.300  3.910  3.988      3.988   15260000

In [8]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,608.000000,608.000000,608.000000,608.000000,608.000000,6.080000e+02
mean,131.854122,140.089835,124.765849,132.822142,132.822142,1.510910e+08
std,241.085132,256.121627,227.391014,242.137560,242.137560,1.210761e+08
min,3.590000,3.918000,2.996000,3.480000,3.480000,6.473000e+06
25%,19.031000,20.275500,17.390000,19.518000,19.518000,6.656125e+07
50%,46.310000,48.312000,44.451000,46.396999,46.396999,1.322868e+08
75%,67.497503,70.415001,64.464002,67.118000,67.118000,1.992209e+08
max,1162.329956,1243.489990,1118.660034,1222.089966,1222.089966,1.066860e+09

In [9]:
df.size

4256

In [10]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [11]:
del df['Date']
del df['Adj Close']

In [12]:
df.head()

    Open   High    Low  Close     Volume
0  3.800  6.084  3.508  3.840  246560000
1  4.000  4.000  2.996  3.480  127753000
2  3.590  4.300  3.380  4.128   77194500
3  4.274  4.450  3.900  4.258   35878500
4  4.300  4.300  3.910  3.988   15260000

In [13]:
X = df.drop(labels='Close', axis=1)
#Response variable
y = df.loc[:,'Close']

In [14]:
#We'll use a test size of 30%. We also stratify the split on the response variable, which is very important to do because there are so few fraudulent transactions.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Ridge Regressor.

In [15]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error,mean_squared_error, median_absolute_error, mean_absolute_percentage_error,r2_score,explained_variance_score

Training

In [16]:
RFT = Ridge()

RFT.fit(X_train,y_train)

predictR = RFT.predict(X_test)

Find The mean absolute error.

In [17]:
MAE = (mean_absolute_error(y_test, predictR))
print("MEAN ABSOLUTE ERROR :", MAE)
print("")

MEAN ABSOLUTE ERROR : 4.000189629172735

Find the mean absolute percentage error.

In [18]:
MAPE = (mean_absolute_percentage_error(y_test, predictR))
print("MEAN ABSOLUTE PERCENTAGE ERROR:", MAPE)
print("")

MEAN ABSOLUTE PERCENTAGE ERROR: 0.04862851623566244

In [19]:
#Find the mean squared error.

In [20]:
MSE = (mean_squared_error(y_test, predictR))
print("MEAN_SQUARED_ERROR:", MSE)
print("")

MEAN_SQUARED_ERROR: 87.95006179505839

Find the Median absolute error.

In [21]:
MEDIAN_AE = (median_absolute_error(y_test,predictR))
print("MEDIAN ABSOLUTE ERROR:", MEDIAN_AE)
print("")

MEDIAN ABSOLUTE ERROR: 0.951971487399959

Find the Accuracy of Ridge Regressor.

In [22]:
EVS = (explained_variance_score(y_test,predictR)*100)
print("Explained variance score:", EVS)
print("")

Explained variance score: 99.82633338491216

Find the R2_score

In [23]:
R2_SCORE = (r2_score(y_test, predictR)*100)
print("The Accuracy of Ridge regressor :", R2_SCORE)
print("")

The Accuracy of Ridge regressor : 99.82611262743984

In [24]:
import joblib
joblib.dump(RFT, 'rft.pkl')

['rft.pkl']