# Implementing Lasso algorithms

In [1]:
# Import the Libraries.
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('Dataset.csv')

In [4]:
data.head()

         Date   Open   High    Low  Close  Adj Close     Volume
0  28-06-2010  3.800  6.084  3.508  3.840      3.840  246560000
1  05-07-2010  4.000  4.000  2.996  3.480      3.480  127753000
2  12-07-2010  3.590  4.300  3.380  4.128      4.128   77194500
3  19-07-2010  4.274  4.450  3.900  4.258      4.258   35878500
4  26-07-2010  4.300  4.300  3.910  3.988      3.988   15260000

In [5]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       608 non-null    object
 1   Open       608 non-null    float64
 2   High       608 non-null    float64
 3   Low        608 non-null    float64
 4   Close      608 non-null    float64
 5   Adj Close  608 non-null    float64
 6   Volume     608 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 33.4+ KB

In [7]:
df = data.dropna()

In [8]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [9]:
del df['Date']
del df['Adj Close']

In [10]:
df.head()

    Open   High    Low  Close     Volume
0  3.800  6.084  3.508  3.840  246560000
1  4.000  4.000  2.996  3.480  127753000
2  3.590  4.300  3.380  4.128   77194500
3  4.274  4.450  3.900  4.258   35878500
4  4.300  4.300  3.910  3.988   15260000

In [11]:
df.shape

(608, 5)

In [12]:
# Split the test and training dataset.
X = df.drop(labels='Close', axis=1)
# Response variable.
y = df.loc[:, 'Close']

In [13]:
#We'll use a test size of 30%. We also stratify the split on the response variable, which is very important to do because there are so few fraudulent transactions.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Implementing Lasso algorithms.

In [14]:
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error, r2_score, explained_variance_score
from sklearn.metrics import median_absolute_error

Training

In [15]:
LR = Lasso()

LR.fit(X_train,y_train)

predictLR = LR.predict(X_test)

Find the mean absolute error

In [16]:
MAE = (mean_absolute_error(y_test,predictLR))
print("MEAN ABSOLUTE ERROR:", MAE)
print('')

MEAN ABSOLUTE ERROR: 5.156236207880183

Find the Mean squared error

In [17]:
MSE = (mean_squared_error(y_test,predictLR))
print("MEAN SQUARED ERROR:", MSE)
print('')

MEAN SQUARED ERROR: 199.66178867088638

Find the Mean absolute error

In [18]:
MAPE = (mean_absolute_percentage_error(y_test,predictLR))
print("MEAN ABSOLUTE PERCENTAGE ERROR :", MAPE)
print('')

MEAN ABSOLUTE PERCENTAGE ERROR : 0.07621871222246727

Find the Median absolute error

In [19]:
MEDIAN_SE = (median_absolute_error(y_test, predictLR))
print("MEDIAN ABSOLUTE ERROR:", MEDIAN_SE)
print('')

MEDIAN ABSOLUTE ERROR: 1.1917607384357067

Find the Accuracy of Lasso

In [20]:
EVS = (explained_variance_score(y_test, predictLR)*100)
print("Explained varience score :", EVS)
print('')

Explained varience score : 99.75457930429607

Find the r2score

In [21]:
R2_SCORE = (r2_score(y_test, predictLR)*100)
print("The Accuracy of Lasso:", R2_SCORE)
print('')

The Accuracy of Lasso: 99.74023051964012

In [22]:
import joblib
joblib.dump(LR,'Lr.pkl')

['Lr.pkl']